* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, cyan, blue);
}

#area-do-jogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    height: 650px;
    width: 750px;
    background: linear-gradient(to right, yellow, orange);
}

#area-esquerda {
    position: absolute;
}

footer, a {
    text-align: center;
    text-decoration: none;
    color: rgb(162, 0, 255);
}

footer:hover {
    text-decoration: underline;
    background-color: rgb(219, 222, 224);
    cursor: pointer;
}

#interrogacao {
    position: absolute;
}

#mascote {
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: 245px;
    margin-top: 250px;
    cursor: pointer;
}
#start {
    margin-left: 270px;
    margin-right: 245px;
    margin-top: 40px;
    cursor: pointer;
 }



 h1 {
     position: absolute;
     margin-left: 230px;
     margin-right: auto;
     margin-top: 130px;
     font-family: 'Courier New', Courier, monospace;
     color: blue;
     text-shadow: 1px 1px 1px red;    
     font-size: 30pt;
 }
 